Importing Libraries

In [2]:
import pandas as pd
data = pd.read_csv("housing.csv")

Printing Rows and Columns

In [3]:
rows=data.shape[0]
print("No of Rows: ",rows)

No of Rows:  505

In [4]:
col=data.shape[1]
print("No of Columns: ",col)

No of Columns:  14

First Five Data Printout

In [13]:
firstFive=data.head(5)
print("First Five Rows:\n", firstFive)

First Five Rows:
    0.00632  18.00  2.310  0  0.5380  6.5750  65.20  4.0900  1  296.0  15.30  \
0  0.02731    0.0   7.07  0   0.469   6.421   78.9  4.9671  2  242.0   17.8
1  0.02729    0.0   7.07  0   0.469   7.185   61.1  4.9671  2  242.0   17.8
2  0.03237    0.0   2.18  0   0.458   6.998   45.8  6.0622  3  222.0   18.7
3  0.06905    0.0   2.18  0   0.458   7.147   54.2  6.0622  3  222.0   18.7
4  0.02985    0.0   2.18  0   0.458   6.430   58.7  6.0622  3  222.0   18.7

   396.90  4.98  24.00
0  396.90  9.14   21.6
1  392.83  4.03   34.7
2  394.63  2.94   33.4
3  396.90  5.33   36.2
4  394.12  5.21   28.7

Total Number of Data(Rows*Columns)

In [6]:
size = data.size
print(size)

7070

Null datapoints

In [7]:
missing=data.isnull().sum().sum()
print(missing)

0

Selecting only the number dataset for Mathamatical Functions

Taking out Sum, Mean, Min and Max

In [14]:
data2 = data.select_dtypes(include='number')
print("Sum:\n", data2.sum())

Sum:
 0.00632      1828.4366
18.00        5732.0000
2.310        5632.9000
0              35.0000
0.5380        280.1377
6.5750       3173.4500
65.20       34633.7000
4.0900       1916.2016
1            4831.0000
296.0      206272.0000
15.30        9323.2000
396.90     180080.1600
4.98         6397.4700
24.00       11377.6000
dtype: float64

In [9]:
print("Average: \n",data2.mean())

Average:
 0.00632      3.620667
18.00       11.350495
2.310       11.154257
0            0.069307
0.5380       0.554728
6.5750       6.284059
65.20       68.581584
4.0900       3.794459
1            9.566337
296.0      408.459406
15.30       18.461782
396.90     356.594376
4.98        12.668257
24.00       22.529901
dtype: float64

In [10]:
print("Min:", data2.min())

Min: 0.00632      0.00906
18.00        0.00000
2.310        0.46000
0            0.00000
0.5380       0.38500
6.5750       3.56100
65.20        2.90000
4.0900       1.12960
1            1.00000
296.0      187.00000
15.30       12.60000
396.90       0.32000
4.98         1.73000
24.00        5.00000
dtype: float64

In [11]:
print("Max:", data2.max())

Max: 0.00632     88.9762
18.00      100.0000
2.310       27.7400
0            1.0000
0.5380       0.8710
6.5750       8.7800
65.20      100.0000
4.0900      12.1265
1           24.0000
296.0      711.0000
15.30       22.0000
396.90     396.9000
4.98        37.9700
24.00       50.0000
dtype: float64

In [12]:
Max=data.max()
Max.to_csv("Max.csv")